.header{
  margin-top: 0;
  height:60px;
  background: #5AC75A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.countersWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}
.countContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:12px;
}
.favoriteSvg, .cartSvg{
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 4px -4px 0;
  &:hover{
    filter: drop-shadow(0 -4px 4px #ffffff);
    fill: #ffffff;
  }
}
.logo {
  margin-left:16px;
}
.logoTextLink{
  color:#ffffff;
  font-size: 36px;
  letter-spacing: 4px;
  padding: 6px 12px;
  &:hover{
  filter: drop-shadow(0 -4px 4px #ffffff);
  }
}
.linkText{
  display: inline-block;
  font-size: 20px;
  margin-right: 8px;
  letter-spacing: 4px;
  text-decoration: none;
  color: #ffffff;
  &:hover{
    filter: drop-shadow(0 -4px 4px #ffffff);
  }
}
a.active{
  color: #f5d404;
  cursor: default;
}